body {
    background-color: azure;
}


#p-4 {
    color: #f00;
}

.container {
    background-color: aqua;
    color: #000;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: flex;  
    gap: 10px;
}

.p-element {
    color: #f00;
}

.new-class {
    color: rgb(119, 22, 194);
}

.link {
    background-color: brown;
    padding: 1.5rem;
    border-radius: 0.4rem;
    color: #fff;
}