body {
    background-color: azure;
}


#p-4 {
    color: #f00;
}

.container {
    background-color: aqua;
    color: #000;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: flex;  
    gap: 10px;
}